*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #181820;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #202020;
}
body::-webkit-scrollbar-thumb {
  background: #535454;
}
body::-webkit-scrollbar-thumb:hover {
  background: #626363;
}

.container {
  position: relative;
  display: grid;
  min-height: 100vh;
  margin: auto;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 4rem 1fr;
}
@media screen and (max-width: 800px) {
  .container {
    grid-template-columns: 200px 1fr;
  }
}

header {
  grid-column: 2/-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  color: #b8b8bb;
  background-color: #21212b;
  border-left: 3px solid #181820;
}
@media screen and (max-width: 700px) {
  header {
    grid-column: 1/-1;
    border: none;
    padding: 1.5rem 1rem;
  }
}
header .header__left {
  display: flex;
  align-items: center;
}
header .header__left .fa-bars {
  margin-right: 1.5rem;
  transition: color 300ms ease;
  cursor: pointer;
  display: none;
}
header .header__left .fa-bars:hover, header .header__left .fa-bars:focus {
  color: #ff7ba8;
}
@media screen and (max-width: 700px) {
  header .header__left .fa-bars {
    display: inline;
  }
}
header .header__left .fa-list-alt {
  margin-right: 0.5rem;
}
header .header__right i {
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  background-color: #ff7ba8;
  color: #ffffff;
  transition: transform 300ms ease;
  cursor: pointer;
}
header .header__right i:hover, header .header__right i:focus {
  transform: scale(1.25);
}

.collections {
  grid-column: 1/2;
  grid-row: 1/-1;
  padding-block: 1.5rem;
  padding-inline: 1rem;
  background-color: #21212b;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.collections .collections__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.collections .collections__header i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ff7ba8;
  display: none;
}
.collections .collections__list {
  display: flex;
  flex-direction: column;
}
.collections .collections__list .collections__item {
  padding-block: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  position: relative;
  cursor: pointer;
}
.collections .collections__list .collections__item .collections__name {
  width: 100%;
}
.collections .collections__list .collections__item .collections__icon {
  display: flex;
  gap: 0.5rem;
}
.collections .collections__list .collections__item .collections__icon i {
  transition: color 300ms ease;
}
.collections .collections__list .collections__item .collections__icon i:hover, .collections .collections__list .collections__item .collections__icon i:focus {
  color: #ff7ba8;
}
.collections .collections__list .collections__item.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0px;
  left: 0;
  background-color: #ff7ba8;
  z-index: 1;
  transition: width 300ms ease;
}
.collections .collections__list .collections__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #181820;
}
.collections .collections__list .collections__item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0px;
  left: 0;
  background-color: #ff7ba8;
  z-index: 1;
  transition: width 300ms ease;
}
.collections .collections__list .collections__item:hover::after {
  width: 100%;
}
.collections .collections__input {
  position: relative;
}
.collections .collections__input label i {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 10px;
  transform: translateY(-50%) rotate(0) scale(1);
  background-color: #ff7ba8;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-content: center;
  transition: transform 300ms ease;
}
.collections .collections__input label i:hover, .collections .collections__input label i:focus {
  transform: translateY(-50%) rotate(180deg) scale(1.25);
}
.collections .collections__input input {
  border: 3px solid #181820;
  border-radius: 80px;
  background-color: transparent;
  height: 50px;
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  transition: border 300ms ease;
  padding-left: 45px;
  padding-right: 10px;
}
.collections .collections__input input::-moz-placeholder {
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  transform: translateY(1px);
}
.collections .collections__input input:-ms-input-placeholder {
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  transform: translateY(1px);
}
.collections .collections__input input::placeholder {
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  transform: translateY(1px);
}
.collections .collections__input input:hover, .collections .collections__input input:focus {
  outline: none;
  border: 3px solid #b8b8bb;
}
@media screen and (max-width: 700px) {
  .collections {
    position: fixed;
    height: 100vh;
    width: 250px;
    left: -100%;
    min-height: 600px;
    overflow-y: auto;
    z-index: 2;
    padding-inline: 1rem;
    transition: left 500ms ease;
  }
  .collections::-webkit-scrollbar {
    width: 10px;
  }
  .collections::-webkit-scrollbar-track {
    background: #202020;
  }
  .collections::-webkit-scrollbar-thumb {
    background: #535454;
  }
  .collections::-webkit-scrollbar-thumb:hover {
    background: #626363;
  }
  .collections[data-toggle=show] {
    left: 0;
  }
  .collections[data-toggle=show] .collections__header > i {
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: transform 300ms ease;
  }
  .collections[data-toggle=show] .collections__header > i:hover, .collections[data-toggle=show] .collections__header > i:focus {
    transform: scale(1.25);
  }
}

.todoList[data-show=false] {
  visibility: hidden;
  opacity: 0;
}

.todoList[data-show=true] {
  grid-column: 2/-1;
  padding: 3rem;
  width: 80%;
  justify-self: center;
  color: #ffffff;
}
@media screen and (max-width: 1100px) {
  .todoList[data-show=true] {
    width: 90%;
    padding: 1rem;
  }
}
@media screen and (max-width: 800px) {
  .todoList[data-show=true] {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .todoList[data-show=true] {
    grid-column: 1/-1;
  }
}
.todoList[data-show=true] .todoList__header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.todoList[data-show=true] .todoList__header i {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: #21212b;
  color: #ffffff;
  transition: background 300ms ease, color 300ms ease;
  cursor: pointer;
}
.todoList[data-show=true] .todoList__header i:hover {
  background-color: #ff7ba8;
}
.todoList[data-show=true] .todoList__input {
  position: relative;
  border-radius: 30px;
  margin-bottom: 2rem;
}
.todoList[data-show=true] .todoList__input i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%) rotate(0);
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  background-color: #ff7ba8;
  margin-right: 0.5rem;
  transition: transform 300ms ease;
  cursor: pointer;
}
.todoList[data-show=true] .todoList__input i:hover {
  transform: translateY(-50%) rotate(180deg) scale(1.25);
}
.todoList[data-show=true] .todoList__input input {
  border: 3px solid #21212b;
  border-radius: 80px;
  background-color: transparent;
  height: 60px;
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  padding-left: 60px;
  padding-right: 10px;
  transition: border 300ms ease;
}
.todoList[data-show=true] .todoList__input input::-moz-placeholder {
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  transform: translateY(1px);
}
.todoList[data-show=true] .todoList__input input:-ms-input-placeholder {
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  transform: translateY(1px);
}
.todoList[data-show=true] .todoList__input input::placeholder {
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  transform: translateY(1px);
}
.todoList[data-show=true] .todoList__input input:hover {
  border: 3px solid #b8b8bb;
}
.todoList[data-show=true] .todoList__input input:focus {
  outline: none;
  border: 3px solid #b8b8bb;
}
.todoList[data-show=true] .todoList__task {
  margin-bottom: 3rem;
}
.todoList[data-show=true] .task__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.todoList[data-show=true] .task__header .task__icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.todoList[data-show=true] .task__header .task__icon i {
  transition: color 300ms ease;
  cursor: pointer;
}
.todoList[data-show=true] .task__header .task__icon i:hover {
  color: #ff7ba8;
}
.todoList[data-show=true] .task__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.todoList[data-show=true] .task__list .task__item {
  padding: 1rem 0.5rem;
  background-color: #21212b;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
}
.todoList[data-show=true] .task__list .task__item input {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}
.todoList[data-show=true] .task__list .task__item .task__detail {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
.todoList[data-show=true] .task__list .task__item .task__detail .task__checkIcon {
  border: 2px solid #ff7ba8;
  border-radius: 50%;
  min-width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
  transition: background-color 300ms cubic-bezier(0.25, 1, 0.5, 1);
  cursor: pointer;
}
.todoList[data-show=true] .task__list .task__item .task__detail .task__checkIcon i {
  transform: scale(0) rotateZ(180deg);
  transition: transform 300ms cubic-bezier(0.25, 1, 0.5, 1);
}
.todoList[data-show=true] .task__list .task__item .task__detail span {
  width: 100%;
  line-height: 30px;
}
.todoList[data-show=true] .task__list .task__item .task__utility {
  display: flex;
  gap: 0.5rem;
}
.todoList[data-show=true] .task__list .task__item .task__utility i {
  transition: color 300ms ease;
  cursor: pointer;
}
.todoList[data-show=true] .task__list .task__item .task__utility i:hover {
  color: #ff7ba8;
}
.todoList[data-show=true] .task__list .task__item input:checked + .task__detail .task__checkIcon {
  background-color: #ff7ba8;
}
.todoList[data-show=true] .task__list .task__item input:checked + .task__detail .task__checkIcon i {
  transform: scale(1) rotateZ(0);
}/*# sourceMappingURL=style.css.map */