$bg-color-1: #21212b;
$bg-color-2: #181820;
$bg-color-3: #ff7ba8;
$bg-color-4: #70c4bf;
$bg-color-5: #a363d8;
$text-color-1: #ffffff;
$text-color-3: #b8b8bb;
$bp-1: 1100px;
$bp-2: 800px;
$bp-3: 700px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: $bg-color-2;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #202020;
  }

  &::-webkit-scrollbar-thumb {
    background: #535454;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #626363;
  }
}

.container {
  position: relative;
  display: grid;
  min-height: 100vh;
  margin: auto;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 4rem 1fr;

  @media screen and (max-width: $bp-2) {
    & {
      grid-template-columns: 200px 1fr;
    }
  }
}

header {
  grid-column: 2 / -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  color: $text-color-3;
  background-color: $bg-color-1;
  border-left: 3px solid $bg-color-2;

  @media screen and (max-width: $bp-3) {
    grid-column: 1 / -1;
    border: none;
    padding: 1.5rem 1rem;
  }

  .header__left {
    display: flex;
    align-items: center;

    .fa-bars {
      margin-right: 1.5rem;
      transition: color 300ms ease;
      cursor: pointer;
      display: none;

      &:hover,
      &:focus {
        color: $bg-color-3;
      }

      @media screen and (max-width: $bp-3) {
        display: inline;
      }
    }

    .fa-list-alt {
      margin-right: 0.5rem;
    }
  }

  .header__right {
    i {
      width: 40px;
      height: 40px;
      display: grid;
      place-content: center;
      border-radius: 50%;
      background-color: $bg-color-3;
      color: $text-color-1;
      transition: transform 300ms ease;
      cursor: pointer;

      &:hover,
      &:focus {
        transform: scale(1.25);
      }
    }
  }
}

.collections {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  padding-block: 1.5rem;
  padding-inline: 1rem;
  background-color: $bg-color-1;
  color: $text-color-1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .collections__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    i {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $bg-color-3;
      display: none;
    }
  }

  .collections__list {
    display: flex;
    flex-direction: column;

    .collections__item {
      padding-block: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
      position: relative;
      cursor: pointer;

      .collections__name {
        width: 100%;
      }

      .collections__icon {
        display: flex;
        gap: 0.5rem;

        i {
          transition: color 300ms ease;

          &:hover,
          &:focus {
            color: $bg-color-3;
          }
        }
      }

      &.active::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 0px;
        left: 0;
        background-color: $bg-color-3;
        z-index: 1;
        transition: width 300ms ease;
      }

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: $bg-color-2;
      }

      &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        bottom: 0px;
        left: 0;
        background-color: $bg-color-3;
        z-index: 1;
        transition: width 300ms ease;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  .collections__input {
    position: relative;

    label {
      i {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 50%;
        left: 10px;
        transform: translateY(-50%) rotate(0) scale(1);
        background-color: $bg-color-3;
        color: $text-color-1;
        border-radius: 50%;
        display: grid;
        place-content: center;
        transition: transform 300ms ease;

        &:hover,
        &:focus {
          transform: translateY(-50%) rotate(180deg) scale(1.25);
        }
      }
    }

    input {
      border: 3px solid $bg-color-2;
      border-radius: 80px;
      background-color: transparent;
      height: 50px;
      width: 100%;
      font-size: 16px;
      color: $text-color-1;
      transition: border 300ms ease;
      padding-left: 45px;
      padding-right: 10px;

      &::placeholder {
        font-weight: 600;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        transform: translateY(1px);
      }

      &:hover,
      &:focus {
        outline: none;
        border: 3px solid $text-color-3;
      }
    }
  }

  @media screen and (max-width: $bp-3) {
    & {
      position: fixed;
      height: 100vh;
      width: 250px;
      left: -100%;
      min-height: 600px;
      overflow-y: auto;
      z-index: 2;
      padding-inline: 1rem;
      transition: left 500ms ease;
    }

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #202020;
    }

    &::-webkit-scrollbar-thumb {
      background: #535454;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #626363;
    }

    &[data-toggle="show"] {
      left: 0;

      .collections__header > i {
        display: grid;
        place-content: center;
        cursor: pointer;
        transition: transform 300ms ease;

        &:hover,
        &:focus {
          transform: scale(1.25);
        }
      }
    }
  }
}

.todoList[data-show="false"] {
  visibility: hidden;
  opacity: 0;
}

.todoList[data-show="true"] {
  grid-column: 2 / -1;
  padding: 3rem;
  width: 80%;
  justify-self: center;
  color: $text-color-1;

  @media screen and (max-width: $bp-1) {
    & {
      width: 90%;
      padding: 1rem;
    }
  }

  @media screen and (max-width: $bp-2) {
    & {
      width: 100%;
    }
  }

  @media screen and (max-width: $bp-3) {
    grid-column: 1 / -1;
  }

  .todoList__header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;

    i {
      padding: 0.5rem 1rem;
      border-radius: 20px;
      background-color: $bg-color-1;
      color: $text-color-1;
      transition: background 300ms ease, color 300ms ease;
      cursor: pointer;

      &:hover {
        background-color: $bg-color-3;
      }
    }
  }

  .todoList__input {
    position: relative;
    border-radius: 30px;
    margin-bottom: 2rem;

    i {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%) rotate(0);
      width: 40px;
      height: 40px;
      display: grid;
      place-content: center;
      border-radius: 50%;
      background-color: $bg-color-3;
      margin-right: 0.5rem;
      transition: transform 300ms ease;
      cursor: pointer;

      &:hover {
        transform: translateY(-50%) rotate(180deg) scale(1.25);
      }
    }

    input {
      border: 3px solid $bg-color-1;
      border-radius: 80px;
      background-color: transparent;
      height: 60px;
      width: 100%;
      font-size: 16px;
      color: $text-color-1;
      padding-left: 60px;
      padding-right: 10px;
      transition: border 300ms ease;

      &::placeholder {
        font-weight: 600;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        transform: translateY(1px);
      }

      &:hover {
        border: 3px solid $text-color-3;
      }

      &:focus {
        outline: none;
        border: 3px solid $text-color-3;
      }
    }
  }

  .todoList__task {
    margin-bottom: 3rem;
  }

  .task__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    .task__icon {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      i {
        transition: color 300ms ease;
        cursor: pointer;

        &:hover {
          color: $bg-color-3;
        }
      }
    }
  }

  .task__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .task__item {
      padding: 1rem 0.5rem;
      background-color: $bg-color-1;
      border-radius: 10px;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      justify-content: space-between;

      input {
        visibility: hidden;
        opacity: 0;
        position: absolute;
      }

      .task__detail {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        width: 100%;

        .task__checkIcon {
          border: 2px solid $bg-color-3;
          border-radius: 50%;
          min-width: 30px;
          height: 30px;
          display: grid;
          place-content: center;
          transition: background-color 300ms cubic-bezier(0.25, 1, 0.5, 1);
          cursor: pointer;

          i {
            transform: scale(0) rotateZ(180deg);
            transition: transform 300ms cubic-bezier(0.25, 1, 0.5, 1);
          }
        }

        span {
          width: 100%;
          line-height: 30px;
        }
      }

      .task__utility {
        display: flex;
        gap: 0.5rem;

        i {
          transition: color 300ms ease;
          cursor: pointer;

          &:hover {
            color: $bg-color-3;
          }
        }
      }

      input:checked + .task__detail .task__checkIcon {
        background-color: $bg-color-3;
      }

      input:checked + .task__detail .task__checkIcon i {
        transform: scale(1) rotateZ(0);
      }
    }
  }
}
